@page "/tasks/{Id:int}"
@using HashSlinger.Shared.Generated
@using HashSlinger.WebUI.Data
@using HashSlinger.WebUI.Components.Tasks
@inject IHashSlingerApi HashSlingerApi

@if (_task == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <TaskEditForm Task="@_task" OnTaskUpdate="@UpdateTask" />
}

@code {
    private TaskDto _task = null!;

    [Parameter]
    public int? Id { get; set; }


    protected async override void OnInitialized()
    {
        await base.OnInitializedAsync().ConfigureAwait(true);
        if (Id.HasValue)
            _task = await HashSlingerApi.GetTaskAsync(Id.Value).ConfigureAwait(true);
        StateHasChanged();
    }

    private async void UpdateTask()
    {
        if (Id.HasValue)
            await HashSlingerApi.UpdateTaskAsync(Id.Value, _task).ConfigureAwait(true);
    }

}
